.dashboard{
    padding: 1.5rem;
}
.navbar-profile{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.navbar{
    margin-left:0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white
}
.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.preloader{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-dropdown{
    position: absolute;
    left: 1rem;
    top: 50px;
    background-color: white;
    width: 280px;
    height: 400px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 0px rgba(101, 100, 100, 0.178);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(101, 100, 100, 0.178);
    -moz-box-shadow: 0px 0px 13px 0px rgba(101, 100, 100, 0.178);
}
.navbar-dropdown a{
    color: #000000;
}
.nav-bar-content{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    gap: 10px;
    cursor: pointer;
}
.nav-bar-content p{
    font-size: 1.3rem;
}
.sign-out{
    margin-top: 150px;
}
.search{
    margin-left: 40px;
    padding: 20px;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    border:  1px solid rgba(0, 0, 0, 0.64);
    border-radius: 8px;
}
.search svg{
    margin-right: 15px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
.navbar-profile-left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bell{
    position: relative;
    margin-right: 15px;
}
.bell svg{
    font-size: 1.8rem;
}
.number{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: #F72525;
    border-radius: 50%;
}
.number p{
    font-size: 8px;
    color: white;
    text-align: center;
}
.user-image{
    margin-right: 15px;
}
.user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.greeting{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
}
.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.dropdown svg{
    font-size: 20px;
}
.dashboard-card{
    margin-top: 27px;
    margin-bottom: 48px;
    background-color: #000000;
    width: 100%;
    padding: 0.8125rem 1.5rem;
    border-radius: 10px;
}
.card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card-top-saving{
    justify-content: center;
}
.savings p{
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}
.savings h2{
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255);
}
.dashboard-navigate{
    margin-bottom: 24px;
    display: flex;
    gap: 14px;
}
.dashboard-navigate a{
    width: 105%;
}
.dashboard-navigate div{
    width: 100%;
}
.dashboard-transaction{
    margin-top: 27px;
}
.recent-head{
    font-family: "Poppins" !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #000000 !important;
}
.transactions{
    height: 500px;
    overflow-y: scroll;

}
.transaction{
    margin-bottom: 10px;
}
.transaction-name{
    font-family: "Poppins" !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #000000 !important;
}
.transaction-date{
    font-family: "Poppins" !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #000000 !important;
}
.date-picker{
    margin-bottom: 20px;
}
.statement-date{
    width: 15%;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 0.625rem;
}
.transferfield{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #2B2B2B; 
}
.transferfield:focus{
    outline: none;
}
@media (max-width: 800px){
    .dashboard-card{
        padding: 0.8125rem 0.8125rem;
    }
    .savings p{
        font-size: 0.8rem;
    }
    .savings h2{
        font-size: 1rem;
    }
    .statement-date{
        width: 45%;
    }
}
