.withdrawal-body{
    margin-top: 57px;
}
.withdrawal-card{
    margin-bottom: 22px;
}
.withdrawal-open{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B11226;
    padding: 0.875rem 0.5rem;
}
.withdrawal-left p{
    font-size: 0.75rem;
    font-weight: 500;
    font-family:"Poppins";
    color: rgba(255, 255, 255, 0.89);
}
.withdrawal-right p{
    font-size: 0.75rem;
    font-weight: 500;
    font-family:"Poppins";
    color: rgba(255, 255, 255, 0.89);
    text-decoration: underline;
}
.withdrawal-details{
    padding: 1.5rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    border-radius:0px 5px 0px 5px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
}
.withdrawal-details h3, .withdrawal-status p{
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    font-family:"Poppins" !important;
    color: #000000 !important;
}
.withdrawal-details p{
    font-size: 0.5rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #000000;
}
.withdrawal-status{
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown{
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: white;
    padding: 0.8rem;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
}
.dropdown p{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #000000;
}
.approval-saving{
    background-color: rgba(9, 165, 9, 0.249);
}
.approval-loan{
    background-color: #c948594b;
}
.withdrawal-type{
    font-size: 0.9  rem;
    font-weight: 700;
    font-family:"Poppins";
    color: #000000;
}