.withdrawal-body{
    margin-top: 57px;
}
.withdrawal-card{
    margin-bottom: 22px;
}
.withdrawal-open{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B11226;
    padding: 0.875rem 0.5rem;
}
.withdrawal-left p{
    font-size: 0.75rem;
    font-weight: 500;
    font-family:"Poppins";
    color: rgba(255, 255, 255, 0.89);
}
.withdrawal-right p{
    font-size: 0.75rem;
    font-weight: 500;
    font-family:"Poppins";
    color: rgba(255, 255, 255, 0.89);
    text-decoration: underline;
}
.withdrawal-details{
    padding: 1.5rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    border-radius:0px 5px 0px 5px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
}
.withdrawal-details h3, .withdrawal-status p{
    font-size: 0.75rem !important;
    font-weight: 700 !important;
    font-family:"Poppins" !important;
    color: #000000 !important;
}
.withdrawal-details p{
    font-size: 0.5rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #000000;
}
.withdrawal-status{
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown{
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: white;
    padding: 0.8rem;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
}
.dropdown p{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #000000;
}
.approval-saving{
    background-color: rgba(9, 165, 9, 0.249);
}
.approval-loan{
    background-color: #c948594b;
}
.information-inner-2{
    flex-direction: column;
    justify-content: center;
    
}
.withdrawal-type{
    font-size: 0.9rem;
    font-weight: 700;
    font-family:"Poppins";
    color: #000000;
}
.withdrawal-type-2{
    font-size: 1.1rem;
}
.withdrawal-filter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    margin-bottom: 15px;
}
.date-picker-2{
    width: 20%;
    margin-bottom: 0px;
}
.statement-date-2{
    width: 100%;
    padding: 0.5rem;
}
.transferfield-2{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
    color: #2B2B2B; 
}
.filter-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-buttons button{
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #000000;
}
.active-filter-button{
    padding: 0.5rem 0.8rem;
    background-color: #B11226 !important;
    border: none !important;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 500;
    font-family:"Poppins";
    color: #fff !important;
}