.personal-review-inner{
    background-color: white;
    width: 60%;
    padding: 20px;
    margin-top: 30px;
}
.personal-review-inner table{
    width: 100%;
}
.personal-review-inner table tr{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.lifestyle{
    border-bottom: 2px solid rgba(183, 183, 183, 0.6);
}
@media (max-width:820px) {
    .personal-review-inner {
        width: 90%;
    }
    .personal-review-inner table tr{
        font-size: 16px;
    }
    
}